<link rel="import" href="/sys/polymer/polymer.html">

<template>
    <template is="dom-bind">
        <div style="width: 100%; clear: both">
            <div style="float: left; width: 200px">
                {{model.SalesDate}} 
            </div>
            <div style="float: left; width: 200px">
                {{model.Price}} 
            </div>
            <div style="float: left; width: 200px">
                {{model.Commission}} 
            </div>
            <div style="float: left; width: 200px">
                {{model.Address}} 
            </div>
            <div style="float: left; width: 200px"></div>
        </div>
    </template>
</template>